function Main.main 17
call Trig.populateSine 0
pop temp 0
push constant 512
push constant 2
call Math.divide 2
pop local 3
push constant 256
push constant 2
call Math.divide 2
pop local 4
push constant 100
pop local 5
push constant 2
pop local 6
push constant 0
pop local 0
push constant 120
pop local 1
push constant 240
pop local 2
push constant 0
pop local 14
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 14
push constant 1
add
pop local 14
push local 14
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 6
add
pop local 0
push local 1
push local 6
add
pop local 1
push local 2
push local 6
add
pop local 2
push local 0
push constant 359
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 360
sub
pop local 0
label IF_FALSE0
push local 1
push constant 359
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 360
sub
pop local 1
label IF_FALSE1
push local 2
push constant 359
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 360
sub
pop local 2
label IF_FALSE2
push local 0
call Trig.sine 1
pop local 15
push local 15
push constant 30000
push local 5
call Math.divide 2
call Fraction.lossyReduce 2
pop temp 0
push local 15
push local 5
call Fraction.multInt 2
pop local 16
push local 16
call Fraction.floor 1
pop local 13
push local 13
push local 3
add
pop local 7
push local 0
call Trig.cosine 1
pop local 15
push local 15
push constant 30000
push local 5
call Math.divide 2
call Fraction.lossyReduce 2
pop temp 0
push local 15
push local 5
call Fraction.multInt 2
pop local 16
push local 16
call Fraction.floor 1
pop local 13
push local 13
push local 4
add
pop local 10
push local 1
call Trig.sine 1
pop local 15
push local 15
push constant 30000
push local 5
call Math.divide 2
call Fraction.lossyReduce 2
pop temp 0
push local 15
push local 5
call Fraction.multInt 2
pop local 16
push local 16
call Fraction.floor 1
pop local 13
push local 13
push local 3
add
pop local 8
push local 1
call Trig.cosine 1
pop local 15
push local 15
push constant 30000
push local 5
call Math.divide 2
call Fraction.lossyReduce 2
pop temp 0
push local 15
push local 5
call Fraction.multInt 2
pop local 16
push local 16
call Fraction.floor 1
pop local 13
push local 13
push local 4
add
pop local 11
push local 2
call Trig.sine 1
pop local 15
push local 15
push constant 30000
push local 5
call Math.divide 2
call Fraction.lossyReduce 2
pop temp 0
push local 15
push local 5
call Fraction.multInt 2
pop local 16
push local 16
call Fraction.floor 1
pop local 13
push local 13
push local 3
add
pop local 9
push local 2
call Trig.cosine 1
pop local 15
push local 15
push constant 30000
push local 5
call Math.divide 2
call Fraction.lossyReduce 2
pop temp 0
push local 15
push local 5
call Fraction.multInt 2
pop local 16
push local 16
call Fraction.floor 1
pop local 13
push local 13
push local 4
add
pop local 12
push local 7
push local 10
push local 8
push local 11
call Screen.drawLine 4
pop temp 0
push local 8
push local 11
push local 9
push local 12
call Screen.drawLine 4
pop temp 0
push local 9
push local 12
push local 7
push local 10
call Screen.drawLine 4
pop temp 0
push constant 16
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
