function Main.main 5
push constant 175
push constant 10000
call Fraction.new 2
pop local 0
push constant 0
push constant 1
call Fraction.new 2
pop local 1
push constant 120
push constant 1
call Fraction.new 2
pop local 2
push constant 240
push constant 1
call Fraction.new 2
pop local 3
push local 3
push local 2
call Fraction.div 2
pop local 4
push local 4
call Fraction.print 1
pop temp 0
push constant 0
return
